$font: 'Poppins', sans-serif;
$url: 'https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap';

$white:#fff;
$softWhite:#e0e6f0;
$verySoftWhite:#7e889c;
$blue:#1e2738;
$softBlue:#232c3d;
$darkBlue:#161d2b;
$softGreen:#15c26b;
$red:#eb5e5e;

$pointer:pointer;
$transition:.5s ease;
$flex:flex;

$title:1.1em;
$semiTitle:0.95em;
$text:0.90em;

